Ledger.UI.Console/Connected Services/LedgerService/Ledger.Services.Api.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ledger.Services.Api.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ledger.Services.Api.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ledger.Core" />
  <xs:complexType name="TransactionModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ledger.Core" base="q1:Transaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentTypeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransactionModel" nillable="true" type="tns:TransactionModel" />
  <xs:complexType name="ArrayOfTransactionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionModel" nillable="true" type="tns:TransactionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionModel" nillable="true" type="tns:ArrayOfTransactionModel" />
</xs:schema>